.box-container {
    width: 100%;
    background: black;
    display: flex;
    padding-top: 5rem;
}

.container {
    max-width: 98%;
    width: 45%;
    height: 75vh;
    background-color: #ffff;
    margin-left: 22rem;
    margin-bottom: 15rem;
}

.box-text {
    padding: 1rem;
}

.box-text svg {
    width: 1.8rem;
    fill: black;
}

.box-text h1 {
    color: black;
    margin: 0;
    font-size: 2.3rem;
    font-family: sans-serif;
}

.end-box-1 {
    background-color:  rgb(196, 81, 157);
    padding: 3.5rem;
}

.wrapper-text {
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    max-width: 50%;
}

.wrapper-text span {
    color: antiquewhite;
    font-size: 4.5rem;
    font-family: monospace;
    margin-top: 5rem;
    margin-left: 0.2rem;
}

hr {
    width: 3rem;
    height: 0.1rem;
    margin: 0;
    margin-top: 2rem;
}

.wrapper-text p {
    color: antiquewhite;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-family: monospace;
}

.flex-button {
    margin-left: 5rem;
}

.end-button {
    width: 11rem;
    height: 3.2rem;
    text-align: center;
    background-color: rgba(28, 28, 28);
    outline: none;
    border: none;
    color: #ffff;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: monospace;
    cursor: pointer;
    letter-spacing: 0.1em;
    transition: all 0.5s;
}

.end-button:hover {
    background-color: #2e2d2d;
}
