.black
{
    background: black;
}
.box-container {
    width: 100%;
    background: black;
    display: flex;
    justify-content: center;
    padding-top: 7rem;
    padding-right: 1rem;
}

.container {
    max-width: 98%;
    width: 60vh;
    background-color: rgb(255, 255, 255);
    margin-bottom: 7rem;
}

.box-text {
    padding: 1rem;
}

.box-text svg {
    width: 1.8rem;
    fill: black;
}

.box-text h1 {
    color: black;
    margin: 0;
    font-size: 2.3rem;
    font-family: sans-serif;
}

.end-box {
    background-color: rgb(80, 100, 133);
    padding: 3.5rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 23%;
}

.wrapper-text {

    margin-left: 5rem;
    margin-top: 5rem;
}

.wrapper-text span {
    color: antiquewhite;
    font-size: 4.5rem;
    font-family: monospace;
    margin-top: 5rem;
    margin-left: 0.2rem;
}

hr {
    width: 3rem;
    height: 0.1rem;
    margin: 0;
    margin-top: 2rem;
}

.wrapper-text p {
    color: antiquewhite;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-family: monospace;
}

.flex-button {
    margin-left: 5rem;
}

.end-button {
    width: 11rem;
    height: 3.2rem;
    text-align: center;
    background-color: rgba(28, 28, 28);
    outline: none;
    border: none;
    color: #ffff;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: monospace;
    cursor: pointer;
    letter-spacing: 0.1em;
    transition: all 0.5s;
}

.end-button:hover {
    background-color: #2e2d2d;
}


.top-scroll-button
{
    padding-top: 3rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.top-scroll-button button
{
    outline: none;
    border: none;
    color: rgb(244, 241, 208);
    background: transparent;
    cursor: pointer;
}
.scroll-btn
{
    color: aliceblue;
    letter-spacing: 0.1rem;
    margin-top: 2rem;
    font-size: 1rem;
}

@media screen and (max-width:600px) {
    .wrapper {
        display: none;

    }

    .container {
        margin-left: 3rem;
        max-width: 50%;
    }
}