@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=Roboto&family=Ubuntu:wght@300&display=swap');

.box-container-1 {
    width: 100%;
    background: black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-top: 9rem;
    padding-right: 6rem;
}
.container-1 {
    max-width: 98%;
    width: 60vh;
    background-color: rgb(255, 255, 255);
    margin-bottom: 7rem;
    margin-left: 6rem;
}

.box-text {
    padding: 1rem;
}

.box-text svg {
    width: 1.8rem;
    fill: black;
}

.box-text h1 {
    color: black;
    margin: 0;
    font-size: 2.3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.end-box-1 {
    background-color:  rgb(196, 81, 157);
    padding: 3.5rem;
    /* height: 60vh; */
}

.wrapper-1
{
    display: flex;
    flex-direction: column;
    max-width: 26%;
}
.wrapper-text-1 {
    margin-left: 5rem;
    margin-top: 5rem;
}

.wrapper-text-1 span {
    color: antiquewhite;
    font-size: 4.5rem;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 5rem;
    margin-left: 0.2rem;
}

hr {
    width: 3rem;
    height: 0.1rem;
    margin: 0;
    margin-top: 1rem;
}

.wrapper-text-1 p {
    color: antiquewhite;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.1em;
    font-family: 'IBM Plex Mono', monospace;
}

.flex-button {
    margin-left: 5rem;
}

.end-button {
    width: 11rem;
    height: 3.2rem;
    text-align: center;
    background-color: rgba(28, 28, 28);
    outline: none;
    border: none;
    color: #ffff;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: monospace;
    cursor: pointer;
    letter-spacing: 0.1em;
    transition: all 0.5s;
}

.end-button:hover {
    background-color: #2e2d2d;
}

@media screen and (max-width:600px) {
    .wrapper-1 {
        display: none;

    }

    .container-1 {
        margin-left: 3rem;
        max-width: 50%;
    }
}


