@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=Roboto&family=Ubuntu:wght@300&display=swap');

.onchange-event {
  display: flex;
  margin-left: 26.9rem;
  align-items: center;
}
.onchange-event li a
{
    font-family: 'IBM Plex Sans', sans-serif !important;
    letter-spacing: 0.1em;
    line-height: 1.5;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}
.onchange-event hr
{
    margin: 1.3rem;
    width: 1.5rem;
}
.next-left
{
    margin: 0;
    padding: 0;
    margin-top: 0.5rem;
    margin-left: 0.2rem;
}
.wrapper-container {
  background-color: rgb(80, 100, 133);
}
.container-box-bg {
  display: flex;
  align-items: center;
  max-width: 98%;
  margin: 0 auto;
  justify-content: center;
}
.container-box-bg svg {
  width: 30%;
  margin-left: 2.5rem;
  margin-top: 7rem;
  margin-bottom: 7.5rem;
}
.container-text {
  width: 30%;
  text-align: left;
  margin-right: 4rem;
}

.container-text h1
{
    font-size: 1.5rem;
    color: #ffff;
    font-weight: 500;
    font-family: 'IBM Plex Mono', monospace;
}
.container-text span {
  font-size: 3rem;
  color: #ffff;
  font-weight: 600;
  font-family: sans-serif;
  line-height: 1;
}
.wrapper-card
{
    background: black;
}
.main-3
{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}
.horizone-line hr
{
    width: 1.5rem;
    height: 1px;
}
.wrapper-content-box
{
    max-width: 75%;
    margin: 0 auto;
}
.content-text
{
    font-size: 1rem;
    color: #ffff;
    font-family: monospace;
    margin-top: 0.8rem;
    margin-left: 0.4rem;
    text-transform: uppercase;
}
.top-para
{
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}
.para-black
{
    color: #ffff;
    font-size: 2.3rem;
    font-family: sans-serif;
    font-weight: 600;
}
.para-flex
{
    display: flex;
}
.para-flex span
{
    color: #ffff;
    padding-right: 2.5rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 600;
    font-family: sans-serif;
}
.big-para
{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.big-para span
{
    color: #ffff;
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: sans-serif;
    font-weight: 500;
}
.sources-text 
{
    color: #ffff;
    margin-top: 2rem;
    font-size: 1.2rem;
    font-family: sans-serif;
    border-bottom: solid 1px #ffff;
}
.container-link
{
    padding-top: 2.5rem;
    padding-bottom: 0.5rem;
}
.container-link span 
{
    padding-bottom: 5rem;
}
.container-link a
{
    color: #ffff;
    font-size: 2.25rem;
    font-family: sans-serif;
    text-decoration: underline;
    font-weight: 600;
    line-height: 1;
}
.link-separate
{
    color: #ffff;
    font-size: 1.1rem;
    font-family: sans-serif;
    font-weight: 600;
}
.next-text-box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 6rem;
    padding-bottom: 7rem;
}
.next-text-box span
{
    color: rgb(34, 34, 34);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: monospace;
}
.blue
{
    padding-bottom: 7rem;
    background: black;
}
.next-link
{
    margin: 0;
    font-weight: 600;
    font-size: 3rem;
    border-bottom: none;
    color: #ffff;
    font-family: sans-serif;
}
.inline
{
    width: 20px;
    margin-left: 0.5rem;
}
.container-button {
    width: 20rem;
    height: 3.2rem;
    text-align: center;
    outline: none;
    border: none;
    color: #ffff;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: monospace;
    cursor: pointer;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: all 0.5s;
}
.container-button-top button
{
    margin-top: 5rem;
    margin-bottom: 2rem;
}

@media screen and (max-width:600px) {
    .onchange-event
    {
        display: none;
    }
    .container-box-bg svg
    {
        width: 40%;
        margin-left: 3rem;
        margin-top: 10rem;
    }
    .container-text span
    {
        font-size: 2rem;
    }
    .wrapper-content-box
    {
        max-width: 95%;
    }
    .para-black
    {
        font-size: 1rem;
    }
    .para-flex
    {
        flex-direction: column;
    }

}