@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=Roboto&family=Ubuntu:wght@300&display=swap');

.popup-box {
  position: fixed;
  background: #000000;
  width: 100%;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: auto;
  background: #0000;
  overflow: auto;
}

.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  color: aliceblue;
  line-height: 20px;
  font-size: 30px;
  transform: translate(40rem, 0.5rem);
}
.popup-container
{
  max-width: 80%;
  margin: 0 auto;
  text-align: initial;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
}
.list
{
  display: block;
  margin-top: 2rem;

}
.content-list
{
  padding-top: 0.5rem;
  padding-left: 2.6rem;
}
.button-inner-text
{
  display: flex;
  align-items: center;
}
.content-list button
{
  border: none;
  outline: none;
  background: transparent;
}
.number-list
{
  color: #ffffff;
  font-size: 0.9rem;
  font-family: 'IBM Plex Mono', monospace;
}
.content a
{
  font-size: 1.4rem;
  margin-left: 0.8rem;
  color: #fff;
  font-weight: 600;
  font-family: inherit;
  letter-spacing: none;
  line-height: 2rem;
  text-transform: none;
  border: solid 1px transparent;
}
.content a:active
{
  border: solid 1px #fff;
}
.right-container
{
  margin-top: 2rem;
  margin-left: 3.4rem;
  width: 38%;
}
.popmenu-heading
{
  color: #fff;
  font-size: 1.8rem;
  padding: 0;
  margin: 1rem 0;
}
.right-container article
{
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.75rem;
  font-family: monospace;
  margin: 0;
  padding: 0;
}