@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=Roboto&family=Ubuntu:wght@300&display=swap');

.popup-box {
  position: fixed;
  background: #000000;
  width: 100%;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: auto;
  background: #0000;
  overflow: auto;
}

.close-icon {
  cursor: pointer;
  position: fixed;
  color: aliceblue;
  line-height: 20px;
  font-size: 30px;
  transform: translate(39.5rem, 0.75rem);
}
.popup-container
{
  max-width: 76%;
  margin: 0 auto;
  text-align: initial;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
}
.list
{
  display: block;
  margin-top: 1.6rem;

}
.content-list
{
  padding-top: 1.5rem;
  padding-left: 1rem;
}
.button-inner-text
{
  display: flex;
  align-items: center;
  border: solid 1px transparent;
}
.content-list button
{
  border: none;
  outline: none;
  background: transparent;
}
.number-list
{
  color: #ffffff;
  font-size: 0.9rem;
  font-family: 'IBM Plex Mono', monospace !important;
  margin-right: 0.2rem;
}
.content a
{
  font-size: 1.5rem;
  margin-left: 1.5rem;
  color: #fff;
  font-weight: 800 !important;
  font-family:'IBM Plex Sans', sans-serif !important;
  letter-spacing: 0;
  line-height: 2rem;
  text-transform: none;
  padding: 0;
 
}
.button-inner-text:active
{
  border: solid 1px #fff;
}
.right-container
{
  margin-top: 1.8rem;
  margin-left: 5.3rem;
  width: 40%;
}
.popmenu-heading
{
  color: #fff;
  font-size: 1.875rem;
  font-family: 'IBM Plex Sans', sans-serif !important;
  margin: 0;
  padding-bottom: 0.8rem;

}
.right-text article
{
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-family: 'IBM Plex Mono', monospace;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}
.right-container span
{
  text-decoration: underline;
}

@media screen and (max-width:600px) {
  
  .popup-container
  {
    overflow: hidden;
    flex-direction: column;
    max-width: 100%;
  }
}