body {
    margin: 0px;
    padding: 0px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
 .main
 {
   width: 100%;
 }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    max-width: 98%;
    margin: 0 auto;
    z-index: 1;
    background: black;
    transition: 0.6s ease-in-out;
  }
  nav ul {
    display: flex;
    padding: 0;
  }
  
  
  nav ul li a  {
    font-family: sans-serif;
    line-height: 2rem;
    margin: 0;
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #ffff;
    letter-spacing: 1px;
    transition: 0.2s ease-in-out;
  }
  .nav-button
  {
    border: none;
    background: #0000;
    border: solid 1px #fff;
    width: 6rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    cursor: pointer;
  }
  .button-text
  {
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
  }
  .toggle svg
  {
    fill: #fff;
    width: 4rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
  }
  .name 
  {
    color: red;
    font-size: 5rem;
  }
  